<!doctype>
<html 
    lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Ultimate Retail</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="card">
                <form th:object="${user}" method="post" th:action="@{/master/user/add-user}">
                    <div class="card-header">
                        <h1 class="h3 mb-3"><strong>Add User data</strong></h1>
                        <a type="button" class="btn btn-sm btn-outline-primary" style="margin-bottom: 20px" th:href="@{/master/user/list-user}">Back to list user</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <label for="name">Id User</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Id User" th:field="*{idUser}" readonly>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <label for="name">Name User</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{nmUser}">
                                    <span style="color:red" class="form-text" th:if="${#fields.hasErrors('nmUser')}" th:errors="*{nmUser}">Name Error</span>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <label for="name">Date Of Birth</label>
                                    <input type="date" class="form-control" id="name" placeholder="Enter Date of Birth" th:field="*{dobUser}">
                                    <span style="color:red" class="form-text" th:if="${#fields.hasErrors('dobUser')}" th:errors="*{dobUser}">Name Error</span>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <label for="name">Gender</label>
                                    <select th:field="*{genderUser}" class="form-select">
                                        <option th:value="'M'" th:text="Male"></option>
                                        <option th:value="'F'" th:text="Female"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <label for="name">Phone Number</label>
                                    <input type="number" class="form-control" id="name" placeholder="Enter phone number" th:field="*{phoneUser}">
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <label for="name">Email</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter email" th:field="*{emailUser}">
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <label for="name">Description</label>
                                    <textarea type="text" class="form-control" id="name" placeholder="Enter description" rows="4" th:field="*{descUser}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </body>
</html>