<!doctype>
<html 
    lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Ultimate Retail</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-3"><strong>User data</strong></h1>
                    <a type="button" class="btn btn-sm btn-primary" style="margin-bottom: 20px" th:href="@{/master/category/insert-category}">Add Data User</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_id" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Created date</th>
                                <th>Updated date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Makanan Ringanan</td>
                                <td>-</td>
                                <td>10 Juli 2022</td>
                                <td>12 Juli 2022</td>
                                <td style="text-align: center">
                                    <a type="button" class="btn btn-sm btn-primary" style="width: 75px">Edit</a>
                                    <a type="button" class="btn btn-sm btn-danger" style="width: 75px">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Minuman Ringanan</td>
                                <td>-</td>
                                <td>08 Juli 2022</td>
                                <td>11 Juli 2022</td>
                                <td style="text-align: center">
                                    <a type="button" class="btn btn-sm btn-primary" style="width: 75px">Edit</a>
                                    <a type="button" class="btn btn-sm btn-danger" style="width: 75px">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>